<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSingleView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>849619801D0B6EDD007A0474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849619991D0B6EDD007A0474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849619A41D0B6EDD007A0474</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
